#Dependencies
api/node_modules/
dashboard/node_modules/

#Build output
api/dist/
dashboard/dist
dashboard/build

#Environment variables
.env
.env*

#Logs
*.log

#VS Code
.vscode/

# OS files
Thumbs.db
.DS_Store

.env
.env.*

# But keep example templates (no secrets) so collaborators know required vars
!*.example
